<!DOCTYPE html>
<html>
  <head>
    <title>ThawingMountain</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= yield :stylesheet %>
    <%= yield :javascript %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
