<!DOCTYPE html>
<html>
  <head>
    <title>ThawingMountain</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= yield :stylesheet %>
    <%= yield :javascript %>

    <!-- temp -->
    <link rel="stylesheet" href="https://unpkg.com/react-instantsearch-theme-algolia@4.0.0/style.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
